{% extends 'Index.html' %}

{% block Category %}
{% endblock Category %}

{% block Header %}	
<div id="top-bar" class="container">
			<div class="row">
				<div class="span4">
					<form method="POST" class="search_form">
						<input type="text" class="input-block-level search-query" Placeholder="eg. T-sirt">
					</form>
				</div>
				<div class="span8">
					<div class="account pull-right">
						<ul class="user-menu">				
							<li><a href="{{curl}}customerapp">CustomerHome</a></li>
							<li><a href="{{curl}}customerapp/editprofile">EditProfile</a></li>
							<li><a href="{{curl}}customerap/changepassword/">ChangePassword</a></li>	
							<li><a href="{{curl}}customerapp/cart/">Cart</a></li>				
							<li><a href="{{curl}}customerapp/logout/">Logout</a></li>		
						</ul>
					</div>
				</div>
			</div>
</div>
{% endblock Header %}



{% block Banner %}
{% endblock Banner %}

{% block MainContent %}
<h1>Payment Successfully Done!!</h1>
<a href="{{curl}}customerapp/"><button class="btn btn-inverse" type="button" id="checkout">Shop More</button></a>
{% endblock MainContent%}